.display {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background-color: #fffffe;
    font-family: 'Pacifico', cursive;
}

.bodyContainer {
    box-shadow: #078080 0px 5px 15px;
    padding: 20px;
    width: 500px;
    border-radius: 1.25%;
    background-color:#f8f5f2;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
    color:#232323;
}

img {
    height: 100px;
    width: 100px;
}
.gametext {
    margin-bottom: 10px;
    text-align: center;
    color: #222525;
}

.playagain {
    text-align: center;
    margin-bottom: 25px;
    color: #222525;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    pointer-events: auto;
}

.buttonContainer div {
    margin: 0 10px;
}

.buttonContainer div :hover{
    cursor: pointer;
    box-shadow: #078080 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    border-radius: 50%;
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.scoreContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
    color: #222525;
}

button {
    font-family: 'Pacifico', cursive;
    border-radius: 5px;
    padding: 2.5px 12px;
    background-color: #078080;
    color: #232323;
}

button:hover {
    cursor: pointer;
    box-shadow: #078080 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}


